@using System.IO
@using FullStack.Av;
@using FullStack.Av.Media

@if (Source != null) {
    <span>@(Source.IsSecure ? "secure" : "open" )</span>
    <span>@Source.MediaType.ToString().ToLower()</span>
    <span>@Source.FileSource.Extension.TrimStart('.').ToLower()</span>
    <span>@Source.PrintFileSize</span>
}

@code {
    [Parameter]
    public AvSource? Source { get; set; }
}
